body{
    margin: 0;
    background-color: #bbbbbb;
    break-before: page;
}
@media screen and (min-width: 769px) {
    .navigation {
        width: 100%;
        height: 80px;
        background-color: black;
        overflow: hidden;
    }
    .navigation a{
        display: inline-block;
        height: auto;
        width: auto;
        max-width: 100px;
        padding: 31px 20px 31px 20px;
        text-decoration: none;
        color: white;
    }
    .navigation a:hover{
        background-color: #bf1d32;
    }
    .item{
        display: inline-block;
        width: 300px;
        min-height: 300px;
        height: 400px;
        border-radius: 5px;
        background-color: white;
        position: inherit;
        margin-top: 10px;
        margin-left: 5px;
        border: 2px solid transparent;
    }
    .item:hover{
        border: 2px solid #bf1d32;
    }
    .item h3{
        display: inline;
    }
    .item img{
        height: auto;
        max-height: 300px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        position: relative;
    }
    .item span{
        float: right;
    }
    .featured-item{
        width: 98%;
        background-color: white;
        border-radius: 16px;
    }
}