<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
        <title>View Inventory</title>
    </head>
    <body>
        {% for item in item_list %}
        <div class="item">
            <h3>{{ item.item_name }}</h3><span>{{ item.stock }} remaining</span>
            <img src="{{ item.image}}" alt="Image of {{ item.item_name }}">
            <p>
                {{ item.description }}
            </p>
        </div>
        {% endfor %}
    </body>
</html>