<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
        <title>View Inventory</title>
    </head>
    <body>
        <div class="navigation">
            <a href="">Home</a>
            <a href="">Order</a>
            <a href="">My Cart</a>
            <a href="">Account Options</a>
        </div>
        <div class='featured-item'>

        </div>
        {% for item in item_list %}
        <a href="./{{ item.item_name }}" style="width: auto; height: auto; background-color: transparent; ">
            <div class="item">
                <h3>{{ item.item_name }}</h3><span>{{ item.stock }} remaining</span>
                <img src="" alt="Image of {{ item.item_name }}">
                <p>
                    {{ item.description }}
                </p>
            </div>
        </a>
        {% endfor %}
    </body>
</html>